{% extends "base.html" %}

{% block content %}   
<a href="/" class="btn btn-outline-primary">回首頁</a><BR>
<h1>問題</h1>    
<div class="list-group-item">{{ question.subject }}</div>
<h1>答案</h1>
<a href="a/create/" class="btn btn-sm btn-primary">新增答案</a><BR>
<ul class="list-group">
{% for answer in question.answer_set.all %}
  <li class="list-group-item">
    <a href="a/{{answer.id}}/update" class="btn btn-sm btn-secondary">修改</a>
    <a href="a/{{answer.id}}/delete" class="btn btn-sm btn-danger">刪除</a>
    {{answer.content}}
  </li>
{% endfor %}
</ul>
{% endblock %}